/* Header styles */
header {
    position: relative;
    background-image: url('https://media.discordapp.net/attachments/910910293402595338/1204447348760256643/2023-12-10_21.17.34.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 20px; /* Add padding to the bottom */
    display: flex;
    flex-direction: column; /* Display navigation buttons on top of the header image */
    align-items: center;
    justify-content: center;
    margin-bottom: -20px; /* Remove the default margin */
}

.logo {
    background-image: url('https://cdn.discordapp.com/attachments/911425557286240286/1204486575023595642/Zetacraft_Standard_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure logo is above navigation */
}

/* Navigation styles */
nav {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1; /* Ensure navigation is above header content */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: orange;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s;
    background-color: #BE5504;
}

nav ul li a:hover {
    background-color: white;
    color: #EC9706;
}
/* Footer styles */
footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%; /* Set the width to 100% */
    margin-top: -20px; /* Compensate for negative margin on header */
}

/* Copyright styles */
.copyright {
    font-size: 14px;
}

/* Additional styles for the channel list */
.body {
    font-family: Arial, sans-serif;
}

.channel-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.channel-icon {
    width: 64px; /* Adjusted size */
    height: 64px; /* Adjusted size */
    margin-right: 10px;
}

.channel-name {
    color: orange;
    text-decoration: none;
}

.channel-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 20px; /* Gap between grid items */
}

/* Grid items */
.grid-item {
    border: 0px solid black; /* Border for visualization */
    padding: 20px;
    text-align: center;
} 
